pyHyperRom/examples/heat_conduction/OneD_heat_conduction/data
pyHyperRom/examples/heat_conduction/OneD_heat_conduction/1_ROM_SpeedUP_L_vs_NL_No_hyperreduction/data
pyHyperRom/examples/heat_conduction/OneD_heat_conduction/1_ROM_SpeedUP_L_vs_NL_No_hyperreduction/old
pyHyperRom/examples/heat_conduction/OneD_heat_conduction/2_Approximate_then_project/Point_selection_based/old
pyHyperRom/examples/heat_conduction/OneD_heat_conduction/3_Project_then_approximate/others
pyHyperRom/examples/heat_conduction/TwoD_heat_conduction/*
pyHyperRom/examples/heat_conduction/ThreeD_heat_conduction/*
pyHyperRom/examples/structural_mechanics
pyHyperRom/src/codes/algorithms/test/*
pyHyperRom/src/codes/prob_classes/heat_conduction/old
pyHyperRom/src/codes/prob_classes/structural_mechanics
pyHyperRom/src/codes/reductor/Struc_Mech/*
pyHyperRom/src/codes/utils/non_HC/*
pyHyperRom/src/codes/utils/old/*
pyHyperRom/tests_
pyHyperRom/misc