pyHyperRom/examples/heat_conduction/ThreeD_heat_conduction/data
pyHyperRom/examples/heat_conduction/TwoD_heat_conduction/data
pyHyperRom/examples/heat_conduction/OneD_heat_conduction/data
pyHyperRom/examples/heat_conduction/ThreeD_heat_conduction/data/DataClass.dill
pyHyperRom/examples/Additive_Manufacturing/data
pyHyperRom/examples/structural_mechanics/continuous_vibrations/oneD_beam/data